/* .navbar-brand img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
} */
.navbar-brand h4{
    margin-left: 15%;
    color: hsl(332, 56%, 67%);
}
.navbar-brand h4 img{
   mix-blend-mode: lighten;
}
@media (max-width: 768px) {
    .navbar-brand h4,h5{
        text-align: center;
    }
}
@media (max-width: 321px) {
    .navbar-brand h4{
        margin-left: 35%;
        /* text-align: center; */
    }
    .navbar-brand h5{
        margin-left: 21%;
        /* text-align: center; */
    }
}
