<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <h3>Info Hub </h3>
        <h5>WE DESCRIBE TECH.</h5>

      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- <img src="https://gist.github.com/user-attachments/assets/6d8abeba-430d-4bde-9ffb-f99ef0a82f13" alt=""> -->