.navbar {
    padding: 0rem 1rem; 
}

.navbar-brand h4,
.navbar-brand h5 {
    margin: 0; 
    padding: 0rem 0; 
}

.links a {
    text-decoration: none;
    padding: 0px;
    color: white;
    margin-left: 10px;
    font-size: larger;
    font-weight: bold;
    padding: 15px 10px; 
}

.links a:hover {
    border-bottom: 3px solid yellow;
}

.navbar-brand h4 {
    margin-left: 15%;
    color: hsl(332, 56%, 67%);
}

.navbar-brand h4 img {
    mix-blend-mode: lighten;
}

@media (max-width: 768px) {
    .navbar-brand h4,
    .navbar-brand h5 {
        text-align: center;
    }
    
}

@media (max-width: 321px) {
    .navbar-brand h4 {
        margin-left: 35%;
    }

    .navbar-brand h5 {
        margin-left: 21%;
    }
    .links a{
        margin-left: 20px;
    }
}

