<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
    rel="stylesheet">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
 
<main *ngFor="let blog of allBlogs">

    <!-- Blogs using firebase -->
    <div class="card">
        <img [src]="blog.image" alt="some-image"/>
        <div class="card-content">
          <h2>{{ blog.title }}</h2>
          <p>{{ blog.description }}</p>
        </div>
    </div>
 
 
</main>