<section class="ezy__comingsoon15_4EjfbwXr"
    style="background-image: url(https://cdn.easyfrontend.com/pictures/comingsoon/coming15.jpg)">
    <div class="ezy__comingsoon15_4EjfbwXr-overlay"></div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-6 col-lg-5">
                <div>
                    <h2 class="ezy__comingsoon15_4EjfbwXr-heading mb-3"><em>Coming Soon</em></h2>
                    <p class="ezy__comingsoon15_4EjfbwXr-sub-heading mb-0 ms-2"><em>Follow Us To be updated!</em></p>
                    <form class="d-flex align-items-center mt-4 me-md-5">
                        <input name="email" id="ezy__comingsoon15_4EjfbwXr-subscription-email"
                            class="form-control border-0" type="email" placeholder="Enter email" required />
                        <button class="ezy__comingsoon15_4EjfbwXr-btn me-4"><i
                                class="fas fa-paper-plane">Send</i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="ezy__comingsoon15_4EjfbwXr-countdown d-flex flex-md-column align-items-center">
        <div class="d-flex flex-column text-center p-3">
            <span class="ezy__comingsoon15_4EjfbwXr-time">{{ days }}</span>
            <span class="ezy__comingsoon15_4EjfbwXr-date opacity-50">Days</span>
        </div>

        <div class="d-flex flex-column text-center p-3">
            <span class="ezy__comingsoon15_4EjfbwXr-time">{{ hours }}</span>
            <span class="ezy__comingsoon15_4EjfbwXr-date opacity-50">Hours</span>
        </div>

        <div class="d-flex flex-column text-center p-3">
            <span class="ezy__comingsoon15_4EjfbwXr-time">{{ minutes }}</span>
            <span class="ezy__comingsoon15_4EjfbwXr-date opacity-50">Minutes</span>
        </div>

        <div class="d-flex flex-column text-center p-3">
            <span class="ezy__comingsoon15_4EjfbwXr-time">{{ seconds }}</span>
            <span class="ezy__comingsoon15_4EjfbwXr-date opacity-50">Seconds</span>
        </div>
    </div>

</section>