/* .content{
    position: fixed;
    top: 10%;
    left: 12%;
    background-color: red;
} */
.content {
    position: fixed;
    top: 10%;
    left: 15%;
    width: 83%; /* Adjusted to be responsive */
    background-color: red;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .content {
        left: 10%;
        width: 80%;
    }
}

@media (max-width: 992px) {
    .content {
        left: 8%;
        width: 84%;
    }
}

@media (max-width: 768px) {
    .content {
        left: 5%;
        width: 90%;
    }
}

@media (max-width: 576px) {
    .content {
        left: 75%;
        width: 96%;
    }
}