<!-- <button class="button">
    <div class="icon">
      <span class="text-icon hide">Icon</span>
      <svg
        class="css-i6dzq1"
        stroke-linejoin="round"
        stroke-linecap="round"
        fill="none"
        stroke-width="2"
        stroke="currentColor"
        height="24"
        width="24"
        viewBox="0 0 24 24"
      >
        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
      </svg>
    </div>
    <span class="title"> Anatomy </span>
    <div class="padding-left hide">
      <div class="padding-left-line">
        <span class="padding-left-text">Left Padding</span>
      </div>
    </div>
    <div class="padding-right hide">
      <div class="padding-right-line">
        <span class="padding-right-text">Right Padding</span>
      </div>
    </div>
    <div class="background hide">
      <span class="background-text">Background</span>
    </div>
    <div class="border hide">
      <span class="border-text">Border Radius</span>
    </div>
  </button>
   -->

<!-- card data  -->

<div class="main">


    <div class="wrap animate pop" routerLink="/frontend/angular">
        <div class="overlay">
            <div class="overlay-content animate slide-left delay-2">
                <h1 class="animate slide-left pop delay-4">Angular</h1>
                <!-- <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Kingdom:
                    <em>Plantae</em></p> -->
            </div>
            <div class="image-content animate slide delay-5"
                style="background-image: url(https://gist.github.com/user-attachments/assets/374647d8-3f8f-4902-a380-9cc6797d3f75);">
            </div>
            <div class="dots animate">
                <div class="dot animate slide-up delay-6"></div>
                <div class="dot animate slide-up delay-7"></div>
                <div class="dot animate slide-up delay-8"></div>
            </div>
        </div>
        <div class="text">
            <p><img alt="Frontend Technologies Guide" class="inset"
                    src="https://gist.github.com/user-attachments/assets/374647d8-3f8f-4902-a380-9cc6797d3f75" alt="" />
                Angular is a popular open-source framework developed and maintained by Google, used for building
                dynamic single-page web applications (SPAs). It allows developers to create well-structured and
                maintainable code through features like:

            </p>
            <!-- <p>Apart from providing oxygen for the planet and beauty when they bloom or turn color, trees are very
                useful. Certain species of hardwood and softwood trees are excellent for timber, making furniture, and
                paper.</p>
            <p>When managed properly, trees are a good source of renewable energy and construction material.</p> -->
        </div>
    </div>

    <div class="wrap animate pop">
        <div class="overlay">
            <div class="overlay-content animate slide-left delay-2">
                <h1 class="animate slide-left pop delay-4">Job Interview</h1>
                <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Basic
                    <em>Ques:</em></p>
            </div>
            <div class="image-content animate slide delay-5"
                style="background-image: url(https://raw.githubusercontent.com/RatingRishu/Info-Hub/main/interview-prep/1714634057734.jpeg);"></div>
            <div class="dots animate">
                <div class="dot animate slide-up delay-6"></div>
                <div class="dot animate slide-up delay-7"></div>
                <div class="dot animate slide-up delay-8"></div>
            </div>
        </div>
        <div class="text">
            <p><img alt="Frontend Technologies Guide" class="inset"
                    src="https://raw.githubusercontent.com/RatingRishu/Info-Hub/main/interview-prep/1714634057734.jpeg"
                    alt="" /><br>
                </p>
            <p>Basic Interview prepraqtion Question with answer Resources here - </p>
            <a href="https://www.linkedin.com/interview-prep/assessments/urn:li:fsd_assessment:(1,a)/question/urn:li:fsd_assessmentQuestion:(10024,aq24)/" target="_blank">Perpration Detalis</a>

        </div>
    </div>
    <!-- <div class="wrap animate pop">
        <div class="overlay">
            <div class="overlay-content animate slide-left delay-2">
                <h1 class="animate slide-left pop delay-4">Trees</h1>
                <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Kingdom:
                    <em>Plantae</em>
                </p>
            </div>
            <div class="image-content animate slide delay-5"
                style="background-image: url(https://assets.codepen.io/4787486/trees.png);"></div>
            <div class="dots animate">
                <div class="dot animate slide-up delay-6"></div>
                <div class="dot animate slide-up delay-7"></div>
                <div class="dot animate slide-up delay-8"></div>
            </div>
        </div>
        <div class="text">
            <p><img alt="Frontend Technologies Guide" class="inset"
                    src="https://gist.github.com/user-attachments/assets/374647d8-3f8f-4902-a380-9cc6797d3f75"
                    alt="" />Trees are woody perennial
                plants that are a member of the kingdom <em>Plantae</em>. All species of trees are grouped by their
                genus, family, and order. This helps make identifying and studying trees easier.</p>
            <p>Apart from providing oxygen for the planet and beauty when they bloom or turn color, trees are very
                useful. Certain species of hardwood and softwood trees are excellent for timber, making furniture, and
                paper.</p>
            <p>When managed properly, trees are a good source of renewable energy and construction material.</p>
        </div>
    </div>
    <div class="wrap animate pop">
        <div class="overlay">
            <div class="overlay-content animate slide-left delay-2">
                <h1 class="animate slide-left pop delay-4">Trees</h1>
                <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Kingdom:
                    <em>Plantae</em>
                </p>
            </div>
            <div class="image-content animate slide delay-5"
                style="background-image: url(https://assets.codepen.io/4787486/trees.png);"></div>
            <div class="dots animate">
                <div class="dot animate slide-up delay-6"></div>
                <div class="dot animate slide-up delay-7"></div>
                <div class="dot animate slide-up delay-8"></div>
            </div>
        </div>
        <div class="text">
            <p><img alt="Frontend Technologies Guide" class="inset"
                    src="https://gist.github.com/user-attachments/assets/374647d8-3f8f-4902-a380-9cc6797d3f75"
                    alt="" />Trees are woody perennial
                plants that are a member of the kingdom <em>Plantae</em>. All species of trees are grouped by their
                genus, family, and order. This helps make identifying and studying trees easier.</p>
            <p>Apart from providing oxygen for the planet and beauty when they bloom or turn color, trees are very
                useful. Certain species of hardwood and softwood trees are excellent for timber, making furniture, and
                paper.</p>
            <p>When managed properly, trees are a good source of renewable energy and construction material.</p>
        </div>
    </div>
    <div class="wrap animate pop">
        <div class="overlay">
            <div class="overlay-content animate slide-left delay-2">
                <h1 class="animate slide-left pop delay-4">Trees</h1>
                <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Kingdom:
                    <em>Plantae</em>
                </p>
            </div>
            <div class="image-content animate slide delay-5"
                style="background-image: url(https://assets.codepen.io/4787486/trees.png);"></div>
            <div class="dots animate">
                <div class="dot animate slide-up delay-6"></div>
                <div class="dot animate slide-up delay-7"></div>
                <div class="dot animate slide-up delay-8"></div>
            </div>
        </div>
        <div class="text">
            <p><img alt="Frontend Technologies Guide" class="inset"
                    src="https://gist.github.com/user-attachments/assets/374647d8-3f8f-4902-a380-9cc6797d3f75"
                    alt="" />Trees are woody perennial
                plants that are a member of the kingdom <em>Plantae</em>. All species of trees are grouped by their
                genus, family, and order. This helps make identifying and studying trees easier.</p>
            <p>Apart from providing oxygen for the planet and beauty when they bloom or turn color, trees are very
                useful. Certain species of hardwood and softwood trees are excellent for timber, making furniture, and
                paper.</p>
            <p>When managed properly, trees are a good source of renewable energy and construction material.</p>
        </div>
    </div>
    <div class="wrap animate pop">
        <div class="overlay">
            <div class="overlay-content animate slide-left delay-2">
                <h1 class="animate slide-left pop delay-4">Trees</h1>
                <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Kingdom:
                    <em>Plantae</em>
                </p>
            </div>
            <div class="image-content animate slide delay-5"
                style="background-image: url(https://assets.codepen.io/4787486/trees.png);"></div>
            <div class="dots animate">
                <div class="dot animate slide-up delay-6"></div>
                <div class="dot animate slide-up delay-7"></div>
                <div class="dot animate slide-up delay-8"></div>
            </div>
        </div>
        <div class="text">
            <p><img alt="Frontend Technologies Guide" class="inset"
                    src="https://gist.github.com/user-attachments/assets/374647d8-3f8f-4902-a380-9cc6797d3f75"
                    alt="" />Trees are woody perennial
                plants that are a member of the kingdom <em>Plantae</em>. All species of trees are grouped by their
                genus, family, and order. This helps make identifying and studying trees easier.</p>
            <p>Apart from providing oxygen for the planet and beauty when they bloom or turn color, trees are very
                useful. Certain species of hardwood and softwood trees are excellent for timber, making furniture, and
                paper.</p>
            <p>When managed properly, trees are a good source of renewable energy and construction material.</p>
        </div>
    </div>
    <div class="wrap animate pop">
        <div class="overlay">
            <div class="overlay-content animate slide-left delay-2">
                <h1 class="animate slide-left pop delay-4">Trees</h1>
                <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Kingdom:
                    <em>Plantae</em>
                </p>
            </div>
            <div class="image-content animate slide delay-5"
                style="background-image: url(https://assets.codepen.io/4787486/trees.png);"></div>
            <div class="dots animate">
                <div class="dot animate slide-up delay-6"></div>
                <div class="dot animate slide-up delay-7"></div>
                <div class="dot animate slide-up delay-8"></div>
            </div>
        </div>
        <div class="text">
            <p><img alt="Frontend Technologies Guide" class="inset"
                    src="https://gist.github.com/user-attachments/assets/374647d8-3f8f-4902-a380-9cc6797d3f75"
                    alt="" />Trees are woody perennial
                plants that are a member of the kingdom <em>Plantae</em>. All species of trees are grouped by their
                genus, family, and order. This helps make identifying and studying trees easier.</p>
            <p>Apart from providing oxygen for the planet and beauty when they bloom or turn color, trees are very
                useful. Certain species of hardwood and softwood trees are excellent for timber, making furniture, and
                paper.</p>
            <p>When managed properly, trees are a good source of renewable energy and construction material.</p>
        </div>
    </div> -->
   <!-- <app-default></app-default> -->
    
</div>
