<div class="resources">
    <div class="main-topic">
        <div class="topics"><h2>Frontend Topics</h2></div>
    </div>
    <div class="sub-topics">
        <div class="topics" routerLink="/frontend/html">
            <h3>HTML</h3>
        </div>
        <div class="topics" routerLink="/frontend/css">
            <h3>CSS</h3>
        </div>
        <div class="topics" routerLink="/frontend/javascript">
            <h3>Javascript</h3>
        </div>
        <div class="topics" routerLink="/frontend/bootstrap">
            <h3>Bootstrap</h3>
        </div>
        <div class="topics" routerLink="/frontend/angular">
            <h3>Angular</h3>
        </div>
        <div class="topics" routerLink="/frontend/react">
            <h3>React</h3>
        </div>
    </div>
</div>
