<div class="resources">
    <div class="main-topic">
        <div class="topics">Backend Topics</div>
    </div>
    <div class="sub-topics">
        <div class="topics" routerLink="/backendtopics/webapi">
            <h3>Web Api's</h3>
        </div>
        <div class="topics" routerLink="/backendtopics/database">
            <h3>Database</h3>
        </div>
        <!-- <div class="topics" routerLink="/frontendTopics/css">
            <h3>CSS</h3>
        </div>
        <div class="topics" routerLink="/frontendTopics/javascript">
            <h3>Javascript</h3>
        </div>
        <div class="topics" routerLink="/frontendTopics/bootstrap">
            <h3>Bootstrap</h3>
        </div>
        <div class="topics" routerLink="/frontendTopics/react">
            <h3>React</h3>
        </div> -->
    </div>
</div>
