<div class="resources">
    <div class="main-topic">
        <div class="topics"><h2>Backend Topics</h2></div>
    </div>
    <div class="sub-topics">
        <div class="topics" routerLink="/backend/webapi">
            <h3>Database</h3>
        </div>
        <div class="topics" routerLink="/backend/database">
            <h3>Web API's</h3>
        </div>
        <!-- <div class="topics" routerLink="/backend/webapi">
            <h3>RESTful APIs and Web services</h3>
        </div>
        <div class="topics" routerLink="/backend/database">
            <h3>Databases</h3>
        </div>
        <div class="topics" routerLink="/backend/webapi">
            <h3>Authentication and Authorization</h3>
        </div>
        <div class="topics" routerLink="/backend/database">
            <h3>Server Management and Deployment</h3>
        </div>
        <div class="topics" routerLink="/backend/webapi">
            <h3>Caching Strategies</h3>
        </div>
        <div class="topics" routerLink="/backend/webapi">
            <h3>Testing and Debugging</h3>
        </div>
        <div class="topics" routerLink="/backend/webapi">
            <h3>Security Best Practices</h3>
        </div>
        <div class="topics" routerLink="/backend/webapi">
            <h3>Performance Optimization</h3>
        </div> -->
    </div>
</div>
