<!-- <div class="modal">
    <div class="modal-content">
        <span class="close" (click)="close()">&times;</span>
        <form class="colorful-form">
            <div class="form-group">
                <label class="form-label" for="name">Name:</label>
                <input required placeholder="Enter your name" class="form-input" type="text" id="name">
            </div>
            <div class="form-group">
                <label class="form-label" for="email">Email:</label>
                <input required placeholder="Enter your email" class="form-input" type="email" id="email">
            </div>
            <div class="form-group">
                <label class="form-label" for="message">Message:</label>
                <textarea required placeholder="Enter your message" class="form-input" id="message"></textarea>
            </div>
            <button class="form-button" type="submit">Submit</button>
        </form>
    </div>
</div> -->



<div class="modal" (click)="onBackgroundClick($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="close()">&times;</span>
      <form class="colorful-form">
        <div class="form-group">
          <label class="form-label" for="name">Name:</label>
          <input required placeholder="Enter your name" class="form-input" type="text" id="name">
        </div>
        <div class="form-group">
          <label class="form-label" for="email">Email:</label>
          <input required placeholder="Enter your email" class="form-input" type="email" id="email">
        </div>
        <div class="form-group">
          <label class="form-label" for="message">Message:</label>
          <textarea required placeholder="Enter your message" class="form-input" id="message"></textarea>
        </div>
        <button class="form-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
  