.sidebar {
    background-color: rgb(216, 228, 238);
    width: 250px; /* Adjust the width as needed */
    height: 100vh; /* Full height */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Add a subtle shadow */
    position: fixed; /* Fixed position */
}

.sidebar h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
