.side{
    position: relative;
}
.dropdown{
    margin-left: -18%;
}
.icon-content{
  padding: 5px;
}
ul {
    list-style: none;
  }
  .nav-link{
    color: #fff;
  }
  .nav-link :hover{
    color: #785be0;
    margin-left: 10px;
    
  }
  .subtop :hover{
  border: 2px solid #785be0;
  }

.nav-link.active {
  color: #ffffff;
  font-weight: bold;
}

  @media (max-width: 769px) {
    .dropdown{
        display: none;
    }
  }
  
  @media (max-width: 767px) {
    .col-auto{
        display: none;
    }
  }