<!-- <div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <h1>Happy New Year 2025!</h1>
      <p>Wishing you a year filled with joy, success, and laughter!</p>
    </div>
    <div class="confetti"></div>
  </div>
   -->



   <div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <h1>Happy New Year 2025!</h1>
      <p>Wishing you a year filled with joy, success, and laughter!</p>
      <button (click)="closePopup()">Close</button>
    </div>
    <div class="confetti"></div>
    <div class="stars"></div>
    <div class="bubbles"></div>
  </div>
  