<div class="resources">
    <div class="main-topic">
        <div class="topics"><h2>Libraries Topics</h2></div>
    </div>
    <div class="sub-topics">
        <div class="topics" routerLink="/librariestopics/aos">
            <h3>AOS</h3>
        </div>
        <div class="topics" routerLink="/librariestopics/primeng">
            <h3>Prime NG</h3>
        </div>
        <div class="topics" routerLink="/librariestopics/natterjs">
            <h3>Matter Js</h3>
        </div>
        <div class="topics" routerLink="/librariestopics/g2plot">
            <h3>G2-Plot</h3>
        </div>
        <div class="topics" routerLink="/librariestopics/threejs">
            <h3>Three Js</h3>
        </div>
        <div class="topics" routerLink="/librariestopics/gasp">
            <h3>GASP</h3>
        </div>
    </div>
</div>
