  .ezy__team9_8S8nIZvy {
    /* Bootstrap variables */
    --bs-body-color: #212529;
    --bs-body-bg: rgb(255, 255, 255);

    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-item-bg: #ffffff;
    --ezy-item-shadow: 0px 4px 44px rgba(159, 190, 218, 0.37);

    background: var(--bs-body-bg);
    overflow: hidden;
    padding: 60px 0;
  }

  @media (min-width: 768px) {
    .ezy__team9_8S8nIZvy {
      padding: 100px 0;
    }
  }

  /* Gray Block Style */
  .gray .ezy__team9_8S8nIZvy,
  .ezy__team9_8S8nIZvy.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);

    /* Easy Frontend variables */
    --ezy-item-bg: #fff;
    --ezy-item-shadow: 0px 4px 44px rgba(198, 222, 243, 0.37);
  }

  /* Dark Gray Block Style */
  .dark-gray .ezy__team9_8S8nIZvy,
  .ezy__team9_8S8nIZvy.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);

    /* Easy Frontend variables */
    --ezy-item-bg: rgb(11, 23, 39);
    --ezy-item-shadow: none;
  }

  /* Dark Block Style */
  .dark .ezy__team9_8S8nIZvy,
  .ezy__team9_8S8nIZvy.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);

    /* Easy Frontend variables */
    --ezy-item-bg: rgb(30, 39, 53);
    --ezy-item-shadow: none;
  }

  .ezy__team9_8S8nIZvy-heading {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: var(--bs-body-color);
  }

  @media (min-width: 768px) {
    .ezy__team9_8S8nIZvy-heading {
      font-size: 45px;
      line-height: 45px;
    }
  }

  .ezy__team9_8S8nIZvy-sub-heading {
    font-size: 16px;
    line-height: 22px;
    color: var(--bs-body-color);
  }

  .ezy__team9_8S8nIZvy-item {
    background-color: var(--ezy-item-bg);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--ezy-item-shadow);
    transition: transform 0.25s ease-in-out;
  }

  .ezy__team9_8S8nIZvy-item:hover {
    transform: translateY(-5px);
  }

  .ezy__team9_8S8nIZvy-item img {
    border-radius: 15px;
    padding: 5px;
    border-color: var(--ezy-theme-color) !important;
  }

  .ezy__team9_8S8nIZvy-content * {
    color: var(--bs-body-color);
  }

  .ezy__team9_8S8nIZvy-social-links a {
    display: inline-block;
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, color 0.25s ease-in-out;
  }

  .ezy__team9_8S8nIZvy-social-links a:hover {
    transform: translateY(5px);
    color: var(--bs-body-color);
    opacity: 1;
  }


  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    font-size: 20px;
    background-color: #5ca1e1;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    width: 100%;
  }

  .button:hover {
    background-color: #f9b234;
  }

  button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 8px;
    right: -20px;
    transition: 0.5s;
  }

  button:hover {
    padding-right: 24px;
    padding-left: 8px;
    background-color: #f9b234;
  }

  button:hover:after {
    opacity: 1;
    right: 20px;
  }

  