<app-contact-popup *ngIf="isModalOpen" (closeModal)="closeModal()"></app-contact-popup>

<section class="ezy__team9_8S8nIZvy">
    <div class="container">
        <div class="row justify-content-center mb-4 mb-md-5">
            <div class="col-lg-6 col-xl-5 text-center">
                <h2 class="ezy__team9_8S8nIZvy-heading mb-3">Our Experts Team</h2>
                <!-- <p class="ezy__team9_8S8nIZvy-sub-heading mb-0">
                                Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at qui.
                              </p> -->

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-lg-3">
                <div class="ezy__team9_8S8nIZvy-item px-4 py-4 mt-4">
                    <img src="https://gist.github.com/user-attachments/assets/9bbcc596-05ec-44f2-a048-8c5d0ddbace7"
                        alt="Looding....." class="img-fluid rounded-circle border border-3 border-primary"
                        width="120" />
                    <div class="ezy__team9_8S8nIZvy-content mt-3">
                        <h4 class="mb-1">Rishabh Kumar</h4>
                        <p class="mb-3 small">Founder / CEO Angular Developer</p>
                        <p class="opacity-50 mb-0">Rishabh is the visionary behind the Info-hub. He specializes in Angular development
                            and has a deep passion for building scalable, user-friendly web applications with modern technologies like HTML,
                            CSS, and TypeScript.</p>
                            <br>
                        <p><button class="button" (click)="openModal()">Contact</button></p>
                        <div class="ezy__team9_8S8nIZvy-social-links mt-4">
                            <a href="#" class="me-3"><span class="fab fa-facebook-f"></span></a>
                            <a href="#" class="me-3"><span class="fab fa-linkedin-in"></span></a>
                            <a href="#" class="me-3"><span class="fab fa-twitter"></span></a>
                            <a href="#"><span class="fab fa-behance"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ezy__team9_8S8nIZvy-item active px-4 py-4 mt-4">
                    <img src="https://gist.github.com/user-attachments/assets/604283b4-5659-4fec-a20e-0076f7fe7d78"
                        alt="Looding....." class="img-fluid rounded-circle border border-3 border-primary"
                        width="120" />
                    <div class="ezy__team9_8S8nIZvy-content mt-3">
                        <h4 class="mb-1">Ausaf Ahmad Ansari</h4>
                        <p class="mb-3 small">Co-Founder Angular Developer </p>
                        <p class="opacity-50 mb-0">Ausaf is responsible for driving the technical strategy of the Info-hub. As an Angular
                            expert, he ensures that the web applications are efficient, secure, and optimized for performance.</p>
                            <br>
                        <p><button class="button" (click)="openModal()">Contact</button></p>
                        <div class="ezy__team9_8S8nIZvy-social-links mt-4">
                            <a href="#" class="me-3"><span class="fab fa-facebook-f"></span></a>
                            <a href="#" class="me-3"><span class="fab fa-linkedin-in"></span></a>
                            <a href="#" class="me-3"><span class="fab fa-twitter"></span></a>
                            <a href="#"><span class="fab fa-behance"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ezy__team9_8S8nIZvy-item px-4 py-4 mt-4">
                    <img src="https://gist.github.com/user-attachments/assets/07dd16d1-072e-4c20-8f7b-7a2d56cc71ef"
                        alt="Looding....." class="img-fluid rounded-circle border border-3 border-primary"
                        width="120" />
                    <div class="ezy__team9_8S8nIZvy-content mt-3">
                        <h4 class="mb-1">Shivani Dudey</h4>
                        <p class="mb-3 small">UI Design</p>
                        <p class="opacity-50 mb-0">Shivani is the creative mind behind our beautiful user interfaces. With a strong focus
                            on user experience, she ensures that all designs are intuitive, aesthetically pleasing, and aligned with
                            user-centric principles.</p>
                            <br>
                        <p><button class="button" (click)="openModal()">Contact</button></p>
                        <div class="ezy__team9_8S8nIZvy-social-links mt-4">
                            <a href="#" class="me-3"><span class="fab fa-facebook-f"></span></a>
                            <a href="#" class="me-3"><span class="fab fa-linkedin-in"></span></a>
                            <a href="#" class="me-3"><span class="fab fa-twitter"></span></a>
                            <a href="#"><span class="fab fa-behance"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ezy__team9_8S8nIZvy-item px-4 py-4 mt-4">
                    <img src="https://gist.github.com/user-attachments/assets/654f29c5-f59c-4a56-89b0-bfdcf869901a"
                        alt="Looding....." class="img-fluid rounded-circle border border-3 border-primary"
                        width="120" />
                    <div class="ezy__team9_8S8nIZvy-content mt-3">
                        <h4 class="mb-1">Robin Baisal</h4>
                        <p class="mb-3 small">Software Expert</p>
                        <p class="opacity-50 mb-0">Robin brings extensive expertise in software engineering and ensures the robustness of
                            our technical solutions. His experience helps in integrating the latest technologies to build efficient systems.</p>
                            <br>
                        <p><button class="button" (click)="openModal()">Contact</button></p>
                        <div class="ezy__team9_8S8nIZvy-social-links mt-4">
                            <a href="#" class="me-3"><span class="fab fa-facebook-f"></span></a>
                            <a href="#" class="me-3"><span class="fab fa-linkedin-in"></span></a>
                            <a href="#" class="me-3"><span class="fab fa-twitter"></span></a>
                            <a href="#"><span class="fab fa-behance"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>