<section class="team-section">
    <h2>Meet Our Team</h2>
    <div class="team-container">
        
            
        <div class="team-member"> 
            <div>
                <img src="https://gist.github.com/user-attachments/assets/9bbcc596-05ec-44f2-a048-8c5d0ddbace7">
            </div>
            
            <h3>Rishabh Rai</h3>
            <p class="title">Angular Developer</p>
            <p class="content">He have a strong background in building responsive and user-friendly web applications using modern technologies such as HTML, CSS, and TypeScript frameworks like Angular.</p>
            <!--<a href="#" class="contact_link"></a>
            <div class="contact_link_bg"></div>-->
            <p><button class="button">Contact</button></p>
        </div>
   
        <div class="team-member">
            <img src="https://gist.github.com/user-attachments/assets/604283b4-5659-4fec-a20e-0076f7fe7d78">
            <h3>Aushaf Ahmad</h3>
            <p class="title">Web Developer</p>
            <p class="content">He have a strong background in building responsive and user-friendly web applications using modern technologies such as HTML, CSS, and TypeScript frameworks like Angular.</p>
            <p><button class="button">Contact</button></p>
        </div>

        <div class="team-member">
            <img src="https://gist.github.com/user-attachments/assets/654f29c5-f59c-4a56-89b0-bfdcf869901a ">
            <h3>Robin Baisla</h3>
            <p class="title">Backend Developer</p>
            <p class="content">He have a strong background in building responsive and user-friendly web applications using modern technologies such as HTML, CSS, and TypeScript frameworks like Angular.</p>
            <p><button class="button">Contact</button></p>
        </div>

        <div class="team-member">
            <img src="https://gist.github.com/user-attachments/assets/07dd16d1-072e-4c20-8f7b-7a2d56cc71ef">
            <h3>Shivani Dubey</h3>
            <p class="title">Developer</p>
            <p class="content">She have a strong background in building responsive and user-friendly web applications using modern technologies such as HTML, CSS, and TypeScript frameworks like Angular.</p>
            <p><button class="button">Contact</button></p>
        </div>
    </div>
</section>

<!--<form class="form">
    <ul class="wrapper">
      
      <li style="--i:4;"><input class="input" type="text" placeholder="Name" required=""></li>
      <li style="--i:3;"><input class="input" placeholder="Phone number" required="" name="phone"></li>
      <li style="--i:2;"><input class="input" type="email" placeholder="E-mail" required="" name="email"></li>
      <button style="--i:1;">Submit</button>
    </ul>
  </form>-->